 <link rel="icon" href="{{ STATIC_URL }}images/s.png" sizes="32x32">
   
    <link href="{{ STATIC_URL }}css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ STATIC_URL }}css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ STATIC_URL }}css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ STATIC_URL }}js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ STATIC_URL }}js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ STATIC_URL }}js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ STATIC_URL }}js/plugins/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">