
        <div class="browser-window">
          <div class="top-bar">
            <div class="circles">
              <div id="close-circle" class="circle"></div>
              <div id="minimize-circle" class="circle"></div>
              <div id="maximize-circle" class="circle"></div>
            </div>
          </div>
          <div class="content purple">
            <div class="row">
              <div id="site-layout-example-top" class="col s12">
                <p class="flat-text-logo center white-text caption-uppercase">Maaf halaman tidak ditemukan :(</p>
              </div>
              <div id="site-layout-example-right" class="col purple s12 m12 l12">
                <div class="row center">
                  <h1 class="text-long-shadow col s12">{{ alert }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

 
