{% extends 'base-backend.html' %}
{% block content %}

  
      <section id="content">
        <div class="container">
          <div class="section">

    
            <div class="divider"></div>
            
          
           {% include "widget/tabel-distributor.html" %}


           
          </div>
       
            <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                <a href="{% url 'd_distributor' %}?edit" {% include 'widget/web_setting/web_color' %} class="btn-floating btn-large tooltipped" data-position="left" data-delay="50" data-tooltip="Tambah distributor">
                   <i class="mdi-editor-border-color"></i>
                </a>
            </div>
        
        </div>
       

      </section>


{% endblock %}