{% extends 'base.html' %}
{% block content %}
{% load humanize %}
{% load custom_tags %}

  <section id="content">        

       
        <div class="container">

          <div id="profile-page" class="section">
         
            <div id="profile-page-header" class="card">
         {% if pesan != '404' %}
          <div id="invoice" style="margin: 30px">
            <div class="invoice-header">
              <div class="row section">
                <div class="col s12 m6 l6">
                  <img src="{{ STATIC_URL }}images/shemura.png" width="150" alt="company logo">
                  <p>To,
                    <br/>
                    <span class="strong">{{ ambil.nama }}</span>
                    <br/>
                    <span>{{ ambil.alamat }}</span>
                      <br/>
                      <span>Malang, Indonesia</span>
                      <br/>
                      <span>{{ ambil.nama }}</span>
                  </p>
                </div>

                <div class="col s12 m6 l6">
                  <div class="invoce-company-address right-align">
                    <span class="invoice-icon"><i class="mdi-social-location-city purple-text"></i></span>

                    <p><span class="strong">Shemura Mikasa Tani</span>
                      <br/>
                      <span>Kab. Lawang</span>
                      <br/>
                      <span>Malang, Indonesia</span>
                      <br/>
                      <span>+62 896 456 239</span>
                    </p>
                  </div>

                </div>
              </div>
            </div>

            <div class="invoice-lable">
              <div class="row">
                <div class="col s12 m3 l3" {% include 'widget/web_setting/web_color' %}>
                  <h4 class="white-text invoice-text">INVOICE</h4>
                </div>
                <div class="col s12 m9 l9 invoice-brief red lighten-1 white-text">
                  <div class="row">
                    <div class="col s12 m3 l3">
                      <p class="strong">Total Due</p>
                      <h4 class="header">Rp. {{ sub_total|intcomma }}.00</h4>
                    </div>
                    <div class="col s12 m3 l3">
                      <p class="strong">Invoice No</p>
                      <h4 class="header">MT_A_{{ dd.pk }}</h4>
                    </div>
                    <div class="col s12 m3 l3">
                      <p class="strong">Waktu pemesanan</p>
                      <h4 class="header">{{ dd.id_waktu }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="invoice-table">
              <div class="row">
                <div class="col s12 m12 l12">
                  <table class="striped">
                    <thead>
                      <tr>
                        <th data-field="no">No</th>
                        <th data-field="item">Nama barang</th>
                        <th data-field="uprice">Harga satuan</th>
                        <th data-field="price">Jumlah</th>
                        <th data-field="price">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for getbarang in fakthur %}
                      <tr>
                        <td>{{ getbarang.id }}</td>
                        <td>{{ getbarang.id_barang.nm_barang }}</td>
                        <td>Rp. {{ getbarang.id_barang.harga_satuan|intcomma }}.00</td>
                        <td>{{ getbarang.jumlah }}</td>
                        <td>Rp. {{ getbarang|totalise|intcomma }}.00</td>
                      </tr>
                    {% endfor %}
                      <tr>
                        <td colspan="3"></td>
                        <td>Total:</td>
                        <td>Rp. {{ sub_total|intcomma }}.00</td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td>Biaya lain</td>
                        <td>Rp. 0 .00</td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td {% include 'widget/web_setting/web_color' %} class="white-text">Grand Total</td>
                        <td {% include 'widget/web_setting/web_color' %} class="strong white-text">Rp. {{ sub_total|intcomma }}.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
               
              </div>
            </div>
            
            <div class="invoice-footer">
              <div class="row">
                <div class="col s12 m6 l6">

                
                
         

                      {% if conf.config == 'on' %}
                        <p class="strong">Metode pembayaran kartu kredit</p>
                        <a {% include 'widget/web_setting/web_color' %} type="button" href="#modal3" class="modal-trigger waves-effect btn large waves-light darken-2">Bayar dengan credit card</a>

                      {% endif %}

                   
                  {% if conf2.config == 'on' %}
                  <p class="strong"> <br/>Metode pembayaran Bank transfer</p>
                  <p>
                <div class="col l6 m6"><img src="{{ STATIC_URL }}images/bca.png" width="150"></div>
                 <div class="col l6 m6">
                  0800730979329
                  <br/> An: Gita kumalasari</p>
                  </div>
                 <div class="col l6 m6"><img src="{{ STATIC_URL }}images/bri.png" width="150"></div>
                 <div class="col l6 m6"><br/>
                  0800730979329
                  <br/> An: Gita kumalasari</p>
                  </div>
                  {% endif %}
                </div>
                <div class="col s12 m6 l6 center-align">
                  <p>Disetujui oleh</p>
                 
                  <img src="{{ STATIC_URL }}images/signature-scan.png" alt="signature">
                  <p class="header">Gita kumalasari</p>
                  <p>Direktur</p>
                </div>
              </div>
            </div>

          </div>
           <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
              <div class="row">
              <div class="col m12 s12 l12">
                <div id="invoice" style="margin: 30px">
            <div class="invoice-header">
              <div class="row section">
                <div class="col s12 m6 l6">
                  <img src="{{ STATIC_URL }}images/shemura.png" width="150" alt="company logo">
                  <p>To,
                    <br/>
                    <span class="strong">{{ ambil.nama }}</span>
                    <br/>
                    <span>{{ ambil.alamat }}</span>
                      <br/>
                      <span>Malang, Indonesia</span>
                      <br/>
                      <span>{{ ambil.nama }}</span>
                  </p>
                </div>

                <div class="col s12 m6 l6">
                  <div class="invoce-company-address right-align">
                    <span class="invoice-icon"><i class="mdi-social-location-city purple-text"></i></span>

                    <p><span class="strong">Shemura Mikasa Tani</span>
                      <br/>
                      <span>Kab. Lawang</span>
                      <br/>
                      <span>Malang, Indonesia</span>
                      <br/>
                      <span>+62 896 456 239</span>
                    </p>
                  </div>

                </div>
              </div>
            </div>
              </div>
              </div>
              </div>
                          {% else %}
                      {% for key, value in form.errors.items %}
                          <p>{{ value }}</p>
                      {% endfor %}
                      
           {% include 'widget/error.html' %}
            {% endif %}
                </div>
            </div>
        </div>
        <!--end container-->

    </section>
            <div id="modal3" class="modal white">
                <form action="" method="post">
                  <div class="modal-content">
                    {% csrf_token %}
                     <div style="margin: 10px">
                        <div class="modal-footer">
                        {% for field in form %}
                          <div class="field-wrapper">
                            <div class="field-label">
                              {{ field.label_tag }}:
                            </div>
                     
                            <div class="field-field">
                              {{ field }}
                              {{ field.errors }}
                            </div>
                     
                          </div>
                        {% endfor %}
                     
                        <br>
                      <div class="center-align">
                        <input type="submit" class="btn waves-effect waves-light" {% include 'widget/web_setting/web_color' %} value="Charge" />
                      </div>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
 {% endblock %}