{% extends 'base-backend.html' %}
{% block content %}
      <section id="content">
      
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <h4 class="header2">Pesan bahan ke suplier</h4>
                <div class="row">
                  <h2>{{ attr }}</h2>
                  <form class="col s12" method="POST" action="">
                  {% csrf_token %}
                    <div class="row">
                       {% if pesan == 1 %}
                      <div id="card-alert" class="card green">
                        <div class="card-content white-text">
                          <p><i class="mdi-alert-error"></i>Permintaan bahan berhasil dikirim ke email suplier</p>
                        </div>
                        <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      
                      {% endif %}
                      <div class="input-field col s6">
                        <select name="bi">
                          <option selected="" disabled="">Pilih</option>
                          {% for name in status %}
                          <option value="{{ name.pk }}">{{ name.nama_bahan }}</option>
                        {% endfor %}
                        </select>
                        <label>Pilih bahan</label>
                      </div>                        
                      <div class="input-field col s6">
                        <input type="number" name="jb">
                        <label for="jb">Jumlah</label>
                      </div>
                      <div class="input-field col s6">
                        <select name="supl">
                          <option selected="" disabled="">Pilih</option>
                          {% for go in Sup %}
                          <option value="{{ go.pk }}">{{ go.nama }}</option>
                        {% endfor %}
                        </select>
                        <label>Pilih suplier</label>
                      </div>    
                   
                      <div class="input-field col s12 l12">
                        <textarea id="message5" name="pesan" class="materialize-textarea" length="120"></textarea>
                        <label for="message">Message</label>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                        <div class="g-recaptcha" data-sitekey="6Lfbly8UAAAAAOMIGVEqPYd1Os9GYD3WA2RbQhUB"></div>
                         <div id="req" class="">
                            <button type="submit" {% include 'widget/web_setting/web_color' %} class="btn waves-effect waves-light right"> Request  <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                          
                            <div id="al" class="progress hide">
                                <div class="indeterminate"></div>
                            </div>
                            <div id="alerts" class="card green hide">
                              <div class="card-content white-text">
                                <p><i class="mdi-alert-error"></i> Permintaan bahan berhasil dikirim ke suplier </p>
                              </div>
                              <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    
  </section>

  </div>
  <!-- END WRAPPER -->

  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
