{% extends 'base.html' %}
{% block content %}
    <div class="parallax-container" style="height: 200px">
      <div class="parallax"><img src="{{ STATIC_URL }}images/slide5.jpg"></div>
    </div>
                <div class="col s12 m12 l12" style="margin:-20px">
                     <center>
                     <div class="col s12 m6 l6 card-panel">
                      <div class="right top medium-small"><a href="{% url 'hub_kami' %}">Butuh bantuan?</a></div>
                    
                        <div class="row">
                          <div class="input-field col l12 center">
                            <p class="center login-form-text">SHEMURA LOGIN</p>
                          </div>
                        </div>
                      <form class="login-form" action="{% url 'validasi-login-distributor' %}" method="POST">
                      {% if request.method == 'GET' and 'd' in request.GET %}
                      <div id="card-alert" class="card red">
                        <div class="card-content white-text">
                          <p><i class="mdi-alert-error"></i> Silahkan login terlebih dulu </p>
                        </div>
                        <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      {% endif %}
                      {% if pesan %}
                      <div id="card-alert" class="card red">
                        <div class="card-content white-text">
                          <p><i class="mdi-alert-error"></i>{% if request.method == 'GET' and 'd' in request.GET %} Silahkan login terlebih dulu {% endif %} {{pesan}}</p>
                        </div>
                        <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      
                      {% endif %}
                       {% csrf_token %} 
                        <div class="row margin">
                          <div class="input-field col s12 m12 l12">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input type="hidden" name="from_url" value="{{ request.META.HTTP_REFERER }}">
                            <input id="username" placeholder="demo: demo@shemura.com" name="umail" type="text">
                            <label for="username" class="center-align">Email</label>
                          </div>
                        </div>
                        <div class="row margin">
                          <div class="input-field col s12 m12 l12">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="password" placeholder="demo: demo" name="pswd" type="password">
                            <label for="password">Password</label>
                          </div>
                        </div>
                         <div class="row">          
                          <div class="input-field col s12 m12 l12  login-text">
                            <div class="g-recaptcha" data-sitekey="6Lfbly8UAAAAAOMIGVEqPYd1Os9GYD3WA2RbQhUB"></div>
                          </div>
                         </div>
                         <div class="row">          
                          <div class="input-field col s12 m12 l12  login-text">
                              <input id="remember-me" type="checkbox">
                              <label for="remember-me">Ingat saya</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <i class="btn purple waves-effect waves-light col s12 waves-input-wrapper" style=""><input class="waves-button-input" name="login" value="Login" type="submit"></i>
                          </div>
                        </div>
                        <div class="row col s6 m6 l6">
                        </div>
                        <div class="row">
                          <div class="input-field col s6 m6 l6">
                              <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
                          </div>          
                        </div>
                      </form>
                    
                      </div>
                      </center>
                    </div>
    <div class="parallax-container" style="height: 150px; margin-bottom: -20px">
      <div class="parallax"><img src="{{ STATIC_URL }}images/slide5.jpg"></div>
    </div>
   <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}